/* HeroDetailComponent's private CSS styles */
label {
  display: inline-block;
  width: 150px;
  margin: .5em 100px;
  color: #000000;
  font-weight: bold;
  font-family: Calibri;
}
input {

  height: 2em;
  font-size: 1em;
  padding-left: .4em;
  width: 400px;
  border: 0;
}
button {
  margin-top: 20px;
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}
button:hover {
  background-color: #cfd8dc;
}
button:disabled {
  background-color: #eee;
  color: #ccc;
  cursor: auto;
}
.topDiv {
  display: block;
  width: 750px;
  height: 250px;
  padding: 5px;
  border: 1px solid black;    
  font-family: Calibri;
  font-size: 230%;
  text-align: center;
  font-weight: bold;
  margin: 5px 100px;
}
@media print {
  #printPageButton {
    display: none;
  }
}